/* Overwrite container bootstrap */
@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 960px !important;
    }
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 960px !important;
    }
}

.navbar {
    padding: 0;
}

.nav-link {
    font-weight: 900;
}

.bg-light {
    background-color: white !important;
}

.dropdown-menu {
    padding: 0;
    overflow: hidden;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a:active {
    background-color: var(--lightgray); /* Màu nền khi click */
}

.img-fluid {
    aspect-ratio: 16/9;
    object-fit: cover;
}
